#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.w3-cinzel {
  font-family: 'Cinzel', serif;
  color: rgb(212, 53, 53);
  
}

.w3-cinzel1 {
  font-family: 'Cinzel', serif;
  color: rgb(226, 158, 31);
  
}

img{
    border: 5px solid rgb(212, 53, 53);
}

#quote-container {
  margin-top: 20px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid LIGHTCORAL;
}